<div class="bg-dark text-white">
  <div class="container">
  <div class="row py-4">
    <div class="col-md-4">
      <!-- Location Segment -->
      <h5>Location</h5>
      <p>123 Main St, Anytown, USA 12345</p>
      <p>Phone: 555-555-5555</p>
    </div>
    <div class="col-md-4 text-center">
      <!-- Social Media Segment -->
      <h5>Follow Us</h5>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#" target="_blank" class="text-white">
            <i class="fa-brands fa-facebook mx-1 icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" class="text-white">
            <i class="fa-brands fa-twitter mx-1 icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" class="text-white">
            <i class="fa-brands fa-linkedin-in mx-1 icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" target="_blank" class="text-white">
            <i class="fa-solid fa-globe mx-1 icon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 text-right">
      <!-- Third Segment (you can add anything here) -->
      <h5>About Us</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 bg-black text-center">
    <p class="text-white">&copy; 2023 Mohamed Essam. All rights reserved.</p>
  </div>
</div>